 /* Images */

* {
	box-sizing: border-box;
}

body {
	background: rgb(192,125,0);
	background: linear-gradient(144deg, rgba(192,125,0,1) 0%, rgba(181,186,59,1) 35%, rgba(76,167,150,1) 100%);
	color: khaki;
	font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 32px;
	margin: 0.25em;
}

h1 {
	background-color: cadetblue;
	border: 4px solid;
	border-color: background: rgb(192,125,0);

}

img {
	max-width: 100%

}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 50%;
	padding: 0.50em;
}

.item2 {
	width: 50%;
	padding: 0.50em;
	background: rgb(192,125,0);
}